{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section>
		<h1>Applications</h1>
		<ul>
			{% for application in applications %}
			<li><a href="/mobrelease/application/{{application.slug}}/last_releases/" title="{{application.name}}">{{application.name}}</a></li>
			{% endfor %}
		</ul>
	</section>
	
{% endblock %}