{% extends "base.html" %}
{% load i18n %}


{% block content %}
	{% if application.logo %}<img src="{{ MEDIA_PREFIX }}{{application.logo}}" width="50" height="50" alt="application icon">{% endif %}
	<h1>{{application.name}}</h1>
	<p>{{application.description}}</p>
	<section>
		<h2>Last Release</h2>
		<ul>
			{% for release in releases %}
			<li><a href="/mobrelease/application/{{application.slug}}/{{release.platform.slug}}/{{release.version}}/" title="{{release.platform}} - v{{release.version}}">{{release.platform.name}} - v{{release.version}}</a></li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}