{% extends "base.html" %}
{% load i18n %}
{% block content %}
	{% if application.logo %}<img src="{{ MEDIA_PREFIX }}{{application.logo}}" width="50" height="50" alt="application icon">{% endif %}
	<h1>{{application.name}}</h1>
	<p>{{application.description}}</p>
	<section>
		<h2>Platforms</h2>
		<ul>
			{% for platform in platforms %}
			<li><a href="/mobrelease/application/{{application.slug}}/{{platform.slug}}/" title="v{{platform.name}}">{{platform.name}}</a></li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}