{% extends "base.html" %}
{% load i18n %}


{% block content %}
	{% if application.logo %}<img src="{{ MEDIA_PREFIX }}{{application.logo}}" width="50" height="50" alt="application icon">{% endif %}
	<h1>{{application.name}}</h1>
	<p>{{application.description}}</p>
	<section>
		<h2>{{platform.name}} Releases</h2>
		<ul>
			{% for release in releases %}
			<li><a href="/mobrelease/application/{{application.slug}}/{{platform.slug}}/{{release.version}}/" title="v{{release.version}}">v{{release.version}}</a> <smal>{{release.release_date}}</smal></li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}