{% extends "base.html" %}
{% load i18n %}


{% block content %}
	{% if application.logo %}<img src="{{ MEDIA_PREFIX }}{{application.logo}}" width="50" height="50" alt="application icon">{% endif %}
	<h1>{{application.name}}</h1>
	<p>{{application.description}}</p>
	<section>
		<h2>{{platform.name}} - v{{release.version}}</h2>
		<p>{{release.release_date}}</p>
		<p><span class="label">Release notes:</span></p>
		<p>{{release.release_notes}}</p>
		{% if release_download_url %}
            <p><img src="https://chart.googleapis.com/chart?chf=bg,s,65432100&chs=220x150&cht=qr&chl={{ qrcode_url }}"/></p>
			<p><a class="btn-download" href="{{ release_download_url }}" onClick="ga('send', 'event', '{{platform.name}}', 'Download', '{{application.name}} - v{{release.version}}');" title="Download">Download</a></p>
            </li>
		{% endif %}
	</section>
{% endblock %}

