{% extends "base.html" %}
{% load i18n %}


{% block content %}
	{% if application.logo %}<img src="{{ MEDIA_PREFIX }}{{application.logo}}" width="50" height="50" alt="application icon">{% endif %}
	<h1>{{application.name}}</h1>
	<p>{{application.description}}</p>
	<section>
		<h2>{{platform.name}} - v{{release.version}}</h2>
		<p>{{release.release_date}}</p>
		<p><span class="label">Release notes:</span></p>
		<p>{{release.release_notes}}</p>
            </br>
			<p><h5>Iniciando download...</h5></p>
            <iframe width="1" height="1" frameborder="0" src="{{ release_download_url }}"></iframe>
            <iframe width="1" height="1" onload="ga('send', 'event', '{{platform.name}}', 'QRCode', '{{application.name}} - v{{release.version}}');" frameborder="0"></iframe>
            </li>
	</section>
{% endblock %}

